###############################################################################
# CSS: ignore CRLLF changes. Needed for LESS generated CSS files
###############################################################################
*.css -crlf
tixapp.id set diff